 *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header{
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
   
}
main{
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
   
}
table{
  background-image: linear-gradient(red, yellow, gray);
}
table, th, td {
    border: 3px solid white;
    margin: 12px;
    padding: 20px;
    font-size: 25px;
    color: white;
     
  }
 td{
    text-align: center;
    
 }
 a{
  color: white;
 }
 td a{
  color: #000;
   text-decoration: none;
   font-size: 20px;
   border: 1px solid white;
   padding: 10px;
   border-radius: 5px;
   
 }
  
 h1{
   color: rgb(203, 226, 71);
 }
 a:link:hover{
  background-color: white;
  border-radius: 5px;
  padding: 10px;
 }
  
